.app {
  margin-top: 100px;
}

hr {
  margin: 0;
  border: 1px solid #ececec;
}

.form {
  display: grid;
  place-content: center;
  row-gap: 20px;
}

.label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.input {
  width: 250px;
  padding: 8px;
  border: 1px solid #222;
}

.radio,
.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio__input,
.checkbox__input {
  margin-right: 6px;
}

.radio-group {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 20px;
}

.dropdown-container {
  position: relative;
}

.dropdown-trigger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 0;
  font-size: inherit;
  text-align: left;
  cursor: pointer;
}

.chevron {
  transform: rotate(180deg) translateY(2px);
}

.dropdown {
  position: absolute;
  width: 100%;
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid #222;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item.is-active {
  background-color: #ddd;
  color: #130d0f;
}

.button {
  padding: 8px;
  background-color: #222;
  color: #fff;
  font-size: inherit;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.error {
  color: red;
  font-size: 13px;
}

.github-link {
  display: block;
  text-align: center;
  margin-top: 20px;
}
